Django
psycopg2-binary
uwsgi
djangorestframework
django-cors-headers
django-filter
drf-writable-nested
drf-yasg
dj-rest-auth[with_social]
djangorestframework-simplejwt
python-dateutil
dj_database_url
gunicorn
whitenoise